.expense-category {
  background-color: #ffffff;
  border-radius: 10px;
  max-width: 20vh;
  padding: 0.5rem;
  display: grid;
  justify-content: center;
  align-items: center;
  justify-items: center;
  transition: box-shadow 0.3s, transform 0.3s ease-in-out;
}

.expense-category:hover {
  box-shadow: rgba(242, 147, 57, 0.1) 0px 8px 24px;
  transform: scale(1.05);
}

h3 {
  font-size: 12pt;
}

h4 {
  font-size: 15pt;
}

img {
  object-fit: cover;
  width: 30px;
  filter: invert(1) brightness(100%) contrast(100%);
}

.img-container {
  background-color: #f29339;
  height: 48px;
  width: 48px;
  border-radius: 50%;
  display: grid;
  justify-items: center;
  align-items: center;
  justify-self: center;
}
