.add-category-button {
  border: none;
  border-radius: 5px;
  background-color: #2008be;
  padding: 12px 12px;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s ease-in-out;
  margin-bottom: 1rem;
}

.add-category-button:hover {
  background-color: #3117d7;
  transform: scale(1.05);
}

.cateogroy-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1rem;
  justify-content: center;
}
